<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-light " >
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Healthify</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
              {% if user %}
                {% if user.is_admin %}
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="{{url_for('logout')}}" class="btn btn-outline-warning bar">Logout</a>
                        </li>
                    </ul>
                {% else %}
                  <ul class="navbar-nav navbar navbar-expand-lg navbar-light bg-light">
                    <li class="nav-item">
                      <a href="{{url_for('mental_health_check_up')}}" class="btn btn-outline-warning bar">Mental Health</a>
                    </li>
                    <li class="nav-item">
                      <a href="{{url_for('read_articles')}}" class="btn btn-outline-warning bar">Read Articles</a>
                    </li>
                    {% if user.gender == "Female" %}
                        <li class="nav-item">
                            <a href="{{url_for('mother')}}" class="btn btn-outline-warning bar">Maternal Risk-o-meter</a>
                        </li>                 
                    {% endif %}
                    <li class="nav-item">
                      <a href="/chatWithHealthAi" class="btn btn-outline-warning bar">Chat with HealthAI</a>
                    </li>
                    <li class="nav-item ms-auto">
                      <a href="/about" class="btn btn-outline-warning bar">About Us</a>
                    </li>                    
                    <li class="nav-item">
                      <a href="{{url_for('contact')}}" class="btn btn-outline-warning bar">Help</a>
                    </li>
                    <li class="nav-item ">
                      <a href="{{url_for('profile')}}" class="bar"><i class="fa fa-user-circle-o" style="font-size:48px;color:orange"></i></a>
                    </li>
                  </ul>
                {% endif %}
              {% elif bd %}
                <ul class="navbar-nav ms-auto"> 
                  </ul>
              {% else %}
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="btn btn-outline-danger bar" href="{{url_for('login')}}">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-outline-danger bar" href="{{url_for('register')}}">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-outline-danger bar" href="{{url_for('admin')}}">Admin Login</a>
                  </li>
                </ul>
              {% endif %}
              
        </div>
      </div>
    </nav>
<script>
    </script>
  
  <style>
    .navbar{
      width: 100%;
      padding: 0;
    }
  
    .bar{
      /* margin-right: 10px; */
      margin: 10px;
    }
    .bg-doctor-green {
    background-color: #4CAF50; /* A green shade similar to medical scrubs */
}
  </style>